<div class="d-flex flex-column justify-content-center mx-5">
    <div class="row col-12 mx-auto border border-3 border-dark border-top-0 px-5 pb-5">
        <%# Entry points %>
        <div class="row col-12 mx-auto mb-3">
            <% @parking_entry_points.each do |parking_entry_point| %>
                <div class="col text-center">
                    <h2 class="fs-5 fw-bold">Entry Point <%=parking_entry_point.id%></h2>
                    <i class="bi bi-arrow-down-up fs-4"></i>
                </div>
            <% end %>
        </div>

        <%# Road icons %>
        <div class="row col-12 mx-auto mb-3">
            <% @parking_entry_points.each do |parking_entry_point| %>
                <div class="col text-center">
                    <i class="bi bi-arrow-left-right fs-4"></i>
                </div>
            <% end %>
        </div>

        <%# Parking slot list %>
        <% @parking_slots.each do |parking_slot| %>
            <div class="col-2 text-center border border-3 border-dark p-2 <%= parking_slot_border(parking_slot.id) %>">
                <p class="mb-2 fw-bold"><%= set_parking_slot_type(parking_slot.parking_slot_level) %></p>
                <p><%= parking_slot.plate_number_id.present? ? parking_slot.plate_number_id : "#"  %></p>
                <p class="badge mb-2 <%= parking_slot_badge_status(parking_slot.parking_slot_status) %>"><%= parking_slot.parking_slot_status.capitalize %></p>
                <div>
                    <button class="btn btn-dark rounded-circle px-2 py-1 <%= parking_slot.vehicle_status == "parked" ? "" : "disabled" %>" id="new_exit_vehicle_btn" title="Exit Parking Slot • Plate Number: <%=parking_slot.plate_number_id%>" data-bs-toggle="modal" data-bs-target="#new_exit_vehicle_modal" data-modal-title="Plate umber: <%= parking_slot.plate_number_id %>" data-vehicle-id="<%= parking_slot.vehicle_id %>" data-vehicle-type="<%= parking_slot.vehicle_type %>" data-parking-slot-id="<%= parking_slot.id %>" data-parking-entry-point="<%= parking_slot.parking_entry_point %>" data-datetime-in="<%= parking_slot.datetime.present? ? set_datetime_format(parking_slot.datetime) : "" %>" data-datetime-out="<%= set_datetime_format(DateTime.now) %>"><i class="bi bi-car-front-fill"></i></button>
                </div>
            </div>
        <% end %>
    </div>
</div>